<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="field">
      <%= f.label 'Имя' %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label 'Фамилия' %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label 'Дата рождения' %><br>
      <%= f.text_field :born_on %>
    </div>
    <div class="field">
      <%= f.label 'Аватар' %><br>
      <%= f.file_field :avatar %>
    </div>
    <div class="field">
      <%= f.label 'Скан паспорта' %><br>
      <%= f.file_field :image_passport %>
    </div>
    <%= f.fields_for :user do |u| %>
      <div class="field">
        <%= u.label :email %><br>
        <%= u.email_field :email %>
      </div>
      <div class="field">
        <%= u.label 'Пароль' %><br>
        <%= u.password_field :password %>
      </div>
      <div class="field">
        <%= u.label 'Подтверждение пароля' %><br>
        <%= u.password_field :password_confirmation %>
      </div>
    <% end %> 

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
