<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="field">
      <%= f.label 'Название магазина' %><br>
      <%= f.text_field :shop_name %><br>
    </div>
    <%= f.fields_for :user do |u| %>
      <div class="field">
        <%= u.label :email %><br>
        <%= u.email_field :email %><br>
      </div>
      <div class="field">
        <%= u.label 'Пароль' %><br>
        <%= u.password_field :password %>
      </div>
      <div class="field">
        <%= u.label 'Подтверждение пароля' %><br>
        <%= u.password_field :password_confirmation %>
      </div>
    <% end %> 

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
