<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @product.description %>
</p>

<p>
    <%= image_tag @product.image_url.to_s %>
</p>

<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
