<!DOCTYPE html>
<html>
<head>
  <title>TestProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
		      <div class="navbar-header">
		                 <%= link_to "Тестовый сайт", root_path, id: "logo" %>
		      </div>
		      <div class="registration">
				<% if user_signed_in? %>
					Вы вошли как: <div id="user_name"><%= current_user.username.upcase %></div>
					<%= link_to "[Выход]", destroy_user_session_path %>
				<% else %>
					<%= link_to "Зарегистрироваться",  new_user_registration_path %> или <%= link_to "Войти", new_user_session_path %>
				<% end %>
				
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
