<!DOCTYPE html>
<html>
<head>
  <title>TestProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
		      <div class="navbar-header">
		                 <%= link_to "Тестовый сайт", root_path, id: "logo" %>
		      </div>
		      <div class="collapse navbar-collapse" id="navbar-collapse">
			      <ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
							<p class="navbar-text navbar-right">Вы вошли как: 
							<strong><%= link_to current_user.username.upcase, "#" , class: "navbar-link" %></strong>&nbsp
							<%= link_to "[Выход]", destroy_user_session_path, class: "navbar-link navbar-right" %>
						</p> 
					<% elsif  admin_signed_in? %>
							<p class="navbar-text navbar-right">Вы вошли как админ: 
							<strong><%= link_to current_admin.firstname.upcase, "#" , class: "navbar-link" %></strong>&nbsp
							<%= link_to "[Выход]", destroy_admin_session_path, class: "navbar-link navbar-right" %>
						</p>  %>
					<% else %>
						<li><%= link_to "Регистрация",  new_user_registration_path %> </li>
						<li><%= link_to "Вход", new_user_session_path %></li>
						<li><%= link_to "Регистрация (админ)",  new_user_registration_path %> </li>
						<li><%= link_to "Вход (админ)", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
